@page "/"
@page "/login"
@layout LoginLayout

@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Login</h3>

                    @if (!string.IsNullOrEmpty(Message))
                    {
                        <div class="alert alert-danger">@Message</div>
                    }

                    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin" FormName="loginForm">

                        <div class="mb-3">
                            <InputText class="form-control" @bind-Value="loginModel.Username" placeholder="Username" />
                        </div>
                        <div class="mb-3">
                            <InputText class="form-control" @bind-Value="loginModel.Password" placeholder="Password"
                                type="password" />
                        </div>

                        @* <div class="form-check mb-3">
                            <InputCheckbox class="form-check-input" />
                            <label class="form-check-label">Remember Me</label>
                        </div> *@

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private LoginModel loginModel { get; set; } = new LoginModel();
    private string Message;
    private bool _firstRender = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        @* if (firstRender)
        {
            Console.WriteLine($"Username: '{loginModel.Username}', Password: '{loginModel.Password}' aa");
            var savedUsername = await JS.InvokeAsync<string>("localStorage.getItem", "savedUsername");
            var savedPassword = await JS.InvokeAsync<string>("localStorage.getItem", "savedPassword");

            if (!string.IsNullOrEmpty(savedUsername) && !string.IsNullOrEmpty(savedPassword))
            {
                loginModel.Username = savedUsername;
                loginModel.Password = savedPassword;
                loginModel.RememberMe = true;


                await Task.Delay(300);
                await HandleLogin();
            }
        } *@
    }

    private async Task HandleLogin()
    {


        @* Console.WriteLine($"Username: '{loginModel.Username}', Password: '{loginModel.Password}'");

        if (loginModel.Username == "email" && loginModel.Password == "1234")
        {
            // Save or clear credentials
            if (loginModel.RememberMe)
            {
                await JS.InvokeVoidAsync("localStorage.setItem", "savedUsername", loginModel.Username);
                await JS.InvokeVoidAsync("localStorage.setItem", "savedPassword", loginModel.Password);
            }
            else
            {
                await JS.InvokeVoidAsync("localStorage.removeItem", "savedUsername");
                await JS.InvokeVoidAsync("localStorage.removeItem", "savedPassword");
            }

            NavigationManager.NavigateTo("/home", forceLoad: true);
        }
        else
        {
            Console.WriteLine($"Username: '{loginModel.Username}', Password: '{loginModel.Password}' wrong");

            Message = "Invalid username/email or password";
            StateHasChanged();
        } *@

        Console.WriteLine($"Username: {loginModel.Username}");
        Console.WriteLine($"Password: {loginModel.Password}");
    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
        @* public bool RememberMe { get; set; } *@
    }
}